@font-face {
    font-family: "Sequel 100 Black 115";
    src: url(fonts/Sequel100Black-115.ttf);
}

@font-face {
    font-family: "Sequel 100 Black 95";
    src: url(fonts/Sequel100Black-95.ttf);
}

@font-face {
    font-family: "Fluro Bold";
    src: url(fonts/FLURO\ Bold.otf);
}
@font-face {
    font-family: "Fluro Bold Ouline";
    src: url(fonts/FLURO\ Bold\ Outline.otf);
}
@font-face {
    font-family: "Fluro Light";
    src: url(fonts/FLURO\ Light.otf);
}
@font-face {
    font-family: "Fluro Semibold";
    src: url(fonts/FLURO\ Semibold.otf);
}
@font-face {
    font-family: "Fluro";
    src: url(fonts/FLURO.otf);
}

* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fluro', sans-serif;
}

.main .h1 {
    width: 1000px;
}
.main h1 {
    font-size: 56pt;
    font-family: 'Sequel 100 Black 95', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    text-decoration: none;
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

header ul {
    display: flex;
}

header ul li {
    list-style: none;
    margin-left: 64px;
}

header ul li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

section {
    margin-top: 16px;
}
section.main {
    background: url(bg-1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



a {
    text-decoration: none;
}

.btn {
    position: relative;
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-size: 14pt;
    padding: 14px 28px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.main .btn {
    position: absolute;
    bottom: 100px;
}

.btn:hover {
    letter-spacing: 1px;
}

.btn i {
    margin-left: 16px;
}

.visit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;
    overflow: hidden;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: hsla(0,0%,100%,0);
}

.visit .wrapping {
    animation: animationText 15s linear infinite;
    white-space: nowrap; 

}
.visit span {
    text-transform: uppercase;
    display: inline-flex;
    justify-content: space-around;
    width: 10%;
    font-weight: 600;
    letter-spacing: 2px;
    
}

@keyframes animationText {
    0% {
        transform: translate3d(-100vw,0,0);
    }
    
    100% {
        transform: translateZ(0);
    }
}

.st-introduction {
    width: 100%;
    padding: 20px;
}

.st-introduction .intro-text {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.st-introduction .intro-text img {
    position: absolute;
    right: 300px;
    top: 20px;
    width: 250px;
    height: 250px;
    transform: rotate(15deg);
    z-index: 10;
}
.st-introduction .intro-text p {
    position: relative;
    font-size: 40pt;
    font-family: 'Sequel 100 Black 95', sans-serif;
    text-align: center;
    color: #111;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.st-introduction .intro-text .text-1 {
    z-index: 100;
}
.st-introduction .intro-text span.dot {
    letter-spacing: -5px;
}


.st-introduction .intro-vid {
    width: 100%;

}

.st-introduction .intro-vid img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.st-latest {
    width: 100%;
    background-color: #111;
    max-height: 800px;
    position: relative;
}

.st-latest .latest {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.st-latest .latest h2 {
    width: 700px;
    font-size: 45pt;
    font-weight: 100;
    font-family: 'Sequel 100 Black 95', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.list-product-wrapping {
    width: 100%;
    height: 500px;
    padding-top: 0;
    background-color: #111;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: hsla(0,0%,100%,0);
}

.list-product-wrapping .product-wrapping {
    animation: animationProduction 20s linear infinite;
    white-space: nowrap; 
    display: inline-flex;
    justify-content: space-around;

}
.list-product-wrapping .product-wrapping .item-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 16px;
    
}

@keyframes animationProduction {
    0% {
        transform: translate3d(-100vw,0,0);
    }
    
    100% {
        transform: translateZ(0);
    }
}

.list-product-wrapping .product-wrapping .item-product img {
    width: 250px;
    height: 250px;
}

.list-product-wrapping .product-wrapping .item-product h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Fluro Light', sans-serif;
    width: 80%;
    white-space: initial;
    text-align: center;
}